
.container {
    width: 250px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    border: 5px solid;
    padding: 10px ;
    /* margin: 100px 500px; */
    background-color: rgb(255, 255, 195);
    border: 15px solid rgb(68, 68, 68);
    
} 

.btn {
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;

}


body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.row {
    margin: 8px 0;
}

input {
    padding: 30px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: red;
    margin: 0;
}

#clear{
    background-color: aqua;
}
#back{
    background-color: rgb(91, 91, 250);
}
#ans{
    background-color: rgb(255, 194, 194);
}

.btn-color{
    background-color: #999999;
}
